.jimu-widget-draw{
	width: 100%;
	height: 100%;
	min-width: 270px;
	min-height: 192px;
	font-size: 14px;
}

.jimu-widget-draw .measure-section{
	display: none;
	width: 100%;
	margin-top: 12px;
}

.jimu-widget-draw .area-units-tip{
	height: 30px;
	line-height: 30px;
	padding-left: 17px;
}

.jimu-rtl .jimu-widget-draw .area-units-tip{
	padding-left: 0;
	padding-right: 17px;
}

.jimu-widget-draw .distance-units-tip{
	height: 30px;
	line-height: 30px;
	padding-left: 17px;
}

.jimu-rtl .jimu-widget-draw .distance-units-tip{
	padding-left: 0;
	padding-right: 17px;
}

.jimu-widget-draw .dijitArrowButtonContainer{
	width: 40px;
}

.jimu-widget-draw .dijitSelect{
	height: 40px;
	width: 100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton{
	width:100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton{
	width:100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton .dijitArrowButtonInner{
	width:100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner{
	width:100%;
}

.jimu-widget-draw .list-table{
	width:94%;
	margin-left:3%;
	margin-right:3%;
	margin-top:0px;
	margin-bottom:10px;
}

.jimu-widget-draw .list-table tbody tr{
	background-color:red;
}
.jimu-widget-draw .list-draw-actions{
	width:160px;
	height:100%;
	vertical-align:middle;
}
.jimu-widget-draw .list-draw-actions > span {
	display:block;
	float:left;
	width:30px;
	height:30px;
	background-color:grey;
	color:white;
	text-align:center;
	vertical-align:middle;
	font-size:1.5em;
	font-weight:bold;
	margin:3px;
	border-radius:5px;
}
.jimu-widget-draw .list-draw-actions > span.clear{
	background-image:url("images/clear.png");
	background-color:rgb(255,153,153);
}
.jimu-widget-draw .list-draw-actions > span.zoom{
	background-image:url("images/zoom.png");
}
.jimu-widget-draw .list-draw-actions > span.up{
	background-image:url("images/up.png");
}
.jimu-widget-draw .list-draw-actions > span.down{
	background-image:url("images/down.png");
}
.jimu-widget-draw .list-draw-actions > span:hover{
	background-color:lightgrey;
	cursor:pointer;
	border:1px solid grey;
}