.jimu-widget-draw{
	width: 100%;
	height: 100%;
	min-width: 270px;
	min-height: 192px;
	font-size: 14px;
}

.jimu-widget-draw .measure-section{
	display: none;
	width: 100%;
	margin-top: 12px;
}

.jimu-widget-draw .area-units-tip{
	height: 30px;
	line-height: 30px;
	padding-left: 17px;
}

.jimu-rtl .jimu-widget-draw .area-units-tip{
	padding-left: 0;
	padding-right: 17px;
}

.jimu-widget-draw .distance-units-tip{
	height: 30px;
	line-height: 30px;
	padding-left: 17px;
}

.jimu-rtl .jimu-widget-draw .distance-units-tip{
	padding-left: 0;
	padding-right: 17px;
}

.jimu-widget-draw .dijitArrowButtonContainer{
	width: 40px;
}

.jimu-widget-draw .dijitSelect{
	height: 40px;
	width: 100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton{
	width:100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton{
	width:100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton .dijitArrowButtonInner{
	width:100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner{
	width:100%;
}

.jimu-widget-draw .menu{
	width:100%;
	height:36px;
	border-bottom: 2px solid rgb(72,85,102);
	margin-bottom:10px;
}
.jimu-widget-draw .menu-item{
	width:36px;
	float:left;
	background-color:rgba(72,85,102,0.4);
	margin-right:5px;
	border: 1px solid rgba(72,85,102,0.8);
}	
.jimu-widget-draw .menu-item:hover{
	background-color:rgba(72,85,102,0.6);
	cursor:pointer;
}
.jimu-widget-draw .menu-item-active{
	background-color:rgba(72,85,102,0.8);
	width:36px;
	float:left;
	margin-right:5px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-right-radius:3px;
	border-top-left-radius:3px;
	border: 2px solid rgba(72,85,102,0.8);
	border-bottom: none;
}
.jimu-widget-draw .menu-item-active:hover{
	pointer:auto;
}
.jimu-widget-draw .hidden{
	display:none;
}	

.jimu-widget-draw .td-symbol{
	text-align:center;
}
.jimu-widget-draw .selected td{
	background-color:rgba(115,255,255,0.7);
}
.jimu-widget-draw .selected:hover td{
	background-color:rgb(115,255,255);
}

.jimu-widget-draw .list-draw-actions{
	width:197px;
	height:100%;
	vertical-align:middle;
}
.jimu-widget-draw .list-draw-actions span {
	display:block;
	float:left;
	width:30px;
	min-height:30px;
	height:30px;
	background-color:rgba(72,85,102,0.6);
	color:white;
	text-align:center;
	vertical-align:middle;
	font-size:1.5em;
	font-weight:bold;
	margin:3px;
	border-radius:5px;
}

.jimu-widget-draw .list-draw-actions span.clear{
	background-image:url("images/clear.png");
	background-color:rgb(255,153,153);
}
.jimu-widget-draw .list-draw-actions span.edit{
	background-image:url("images/edit.png");
	background-color:rgb(153,153,255);
}
.jimu-widget-draw .list-draw-actions span.zoom{
	background-image:url("images/zoom.png");
}
.jimu-widget-draw .list-draw-actions span.up{
	background-image:url("images/up.png");
}
.jimu-widget-draw .list-draw-actions span.down{
	background-image:url("images/down.png");
}
.jimu-widget-draw .list-draw-actions span.export{
	background-image:url("images/download.png");
}
.jimu-widget-draw .list-draw-actions span.import{
	background-image:url("images/upload.png");
}
.jimu-widget-draw .list-draw-actions span:hover{
	background-color:rgba(72,85,102,0.8);
	cursor:pointer;
	border:1px solid rgb(72,85,102);
}



.jimu-widget-draw .title{
	margin-top:5px;
	margin-left:5px;
}

.jimu-widget-draw p.no{
	display:none;
}
.jimu-widget-draw p.info{
	width:100%;
	padding:3px;
	background-color:lightblue;
	border-radius:3px;
}
.jimu-widget-draw p.error{
	width:100%;
	padding:3px;
	background-color:lightred;
	border-radius:3px;
}
.jimu-widget-draw p.warning{
	width:100%;
	padding:3px;
	background-color:orange;
	border-radius:3px;
}
.jimu-widget-draw h2{
	margin-top:5px;
	margin-bottom:10px;
}
.jimu-widget-draw .draw-import{
	width:100%;
	height:50px;
}
.jimu-widget-draw .draw-import .file{
	float:left;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px;
	border-radius: 5px;
	cursor:pointer;
	width:calc(100% - 50px;);
}
.jimu-widget-draw .draw-import > a{
	float:left;
	height:36px;
	width:36px;
}
.jimu-widget-draw #nameField{
	width:100%;
}
.jimu-widget-draw #descriptionField{
	width:100%;
	min-height:60px;
}
.jimu-widget-draw label{
	font-weight : bold;
}